<div class="footer">
    <div class="container">
        <div class="footer__contacts">
            <span>Для связи →</span>
            <a href="#">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                me@vas3k.ru
            </a>
            <a href="#">
                <i class="fa fa-telegram" aria-hidden="true">
                </i>Телеграм-бот
            </a>
            <a href="#">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                Твиттер
            </a>
        </div>
        <div class="footer__text">
            Пожалуйста, ставьте ссылку на vas3k.ru при использовании материалов и цитировании. Перепечатка постов возможна, но с разрешения. Пишите на почту.
        </div>
    </div>
</div>