<!-- Сообщаем браузеру как стоит обрабатывать этй страницу -->
<!DOCTYPE html>
{% load static %}
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
    <!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
    <head>
        <!-- Заголовок страницы в браузере -->
        <title>vas3k_copy</title>
        <!-- Подключаем CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <!-- Кодировка страницы -->
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="https://use.fontawesome.com/efd31cb4cf.js"></script>

    </head>
    <!-- Отображает тело страницы -->
    <body>
        <div class="header">
            <div class="header__row">
                <div class="header__menu">
                    <ul class="header__list">
                        <li class="menu__item menu__image"><a href="#">Вастрик</a></li>
                        <li class="menu__item"><a href="#">Блог</a></li>
                        <li class="menu__item"><a href="#">Мир</a></li>
                        <li class="menu__item"><a href="#">Донат</a></li>
                        <li class="menu__item"><a href="#">Клуб</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contacts">
            <div class="container">
                <div class="contacts__row">
                    <a href="#" class="1">
                        <i class="fa fa-telegram" aria-hidden="true"></i>Телеграм-канал</a>
                    <a href="#" class="2">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        Твиттер</a>
                    <a href="#" class="3">
                        <i class='fab fa-patreon' aria-hidden="true"></i>
                        Патреон</a>
                    <a href="#" class="4">
                        <i class="fas fa-rss-square" aria-hidden="true"></i>
                        RSS</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="content__title">
                    <a href="#" class="content__title_block">
                        <span class="title__block_views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                        <span class="title__block_info">No Code</span>
                    </a>
                </div>
                {% for posts in vas3k_posts %}
                    <div class="stories_block">
                            <a href="#" class="stories_block__test" style="background: no-repeat center/105% 100% url({{ posts.picture.url }})">
                                <span class="stories_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                <span class="stories_block__info">{{ posts.tittle }}</span>
                            </a>
                    </div>
                {% endfor %}
                <div class="notes">
                    <div class="notes__title">
                    <a href="#" class="notes__notes"><h1>Заметки</h1></a>
                    <h2>О выживании в мире технологий и творящемся вокруг киберпанке</h2>
                    </div>
                        <div class="notes__body">
                            <div class="notes__row">
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_1">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_2">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_3">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_4">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_5">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_6">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_7">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_8">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_9">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_10">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="notes__columns">
                                    <div class="notes_blocks">
                                        <a href="#" class="notes_block notes_block_11">
                                            <span class="notes_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="notes_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="travels">
                    <div class="travels__title">
                    <h2>Отвратительные путешествия</h2>
                    </div>
                        <div class="travels__body">
                            <div class="travels__row">
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_1">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_2">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_3">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_4">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_5">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_6">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_7">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_8">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_9">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_10">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="travels__columns">
                                    <div class="travels_blocks">
                                        <a href="#" class="travels_block travels_block_11">
                                            <span class="travels_block__views"><i class="fa fa-eye" aria-hidden="true"></i>73.1K</span>
                                            <span class="travels_block__info">Lorem ipsum dolor sit amet, consectetur.</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer__contacts">
                    <a href="#">Для связи</a>
                    <a href="#">me@vas3k.ru</a>
                    <a href="#">Телеграм-бот</a>
                    <a href="#">Твиттер</a>
                </div>
                <div class="footer__text">
                    Пожалуйста, ставьте ссылку на vas3k.ru при использовании материалов и цитировании. Перепечатка постов возможна, но с разрешения. Пишите на почту.
                </div>
            </div>
        </div>
    </body>
</html>